@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #1e1e1e;
    --foreground: #2f2f2f;
    --highlight: #35f4a6;
    --offwhite: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1e1e1e;
        --foreground: #2f2f2f;
        --highlight: #35f4a6;
        --offwhite: #ffffff;
    }
}
